.hFlex {
    display: flex;
    flex-direction: row;
}

.projectTitle {
    font-weight: bold;
    padding: .2rem 0;
    display: inline;
    font-size: 1.2rem;
}

.projectItem {
    /* padding: .7rem 2rem; */
    margin: -.3rem 0;
  }

.projectSectionCaption {
    margin: 0;
    padding: 0;
}

.collapseGroup {
    padding: 0;
}